<settings>
<servers>
  <server>
    <id>nextwork-devops-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>nextwork-devops-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextwork-devops-cicd</id>
        <url>https://nextwork-180528248643.d.codeartifact.eu-west-3.amazonaws.com/maven/devops-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>nextwork-devops-cicd</id>
    <name>nextwork-devops-cicd</name>
    <url>https://nextwork-180528248643.d.codeartifact.eu-west-3.amazonaws.com/maven/devops-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
